<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRIM</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>



      
   
    <h1>Welcome : {{request.user}}</h1>

     <h3><a href="{% url 'register_police'  %}">Police Registration</a> </h3>
     <h3><a href="{% url 'sign_police'  %}">Police Sign In</a> </h3>
     <h3><a href="{% url 'add_criminal'  %}">Add Criminal</a> </h3>
     <h3><a href="{% url 'show_criminal'  %}">Show criminal</a> </h3>
     <h3><a href="{% url 'profile_police'  %}">My Profile</a> </h3>
     <h3><a href="{% url 'update_police_data'  %}">Re-update profile details</a> </h3>
     <h3><a href="{% url 'letsout'  %}">Logout</a> </h3>

</body>
</html>