<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRIM</title>
</head>


<body>

  <div class="container">
{% comment %} sssssssssssssssssssss {% endcomment %}

       <div class="srch">
           <form action="{% url 'search' %}" method="get">
            <input name="q" type="text" placeholder="Search" />
            <div>
            <button class="btn btn-info">Search</button>
            </div>
         </form>
       </div>

{% comment %} sssssssssssssssssssss {% endcomment %}


  
    <table class="csss-serial">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">CRIM ID</th>
      <th scope="col">NAME</th>
      <th scope="col">HEIGHT</th>
      <th scope="col">EYES</th>
      <th scope="col">SKIN</th>
      <th scope="col">AGE</th>
      
    </tr>
  </thead>

  <tbody>
  {% for i in stu %}

    <tr>

      <td>{{i.id}}</td>
      <td>{{i.crim_id}}</td>
      <td>{{i.name}}</td>
      <td>{{i.height}}</td>
      <td>{{i.eyes}}</td>
      <td>{{i.skin}}</td>
      <td>{{i.age}}</td>
      <td>

   

         <a href="{% url 'updatedata' i.id %}" class="btn btn-warning">Update</a>
         
       
          {% comment %} <a href="{% url 'deletedata' i.id %}" class="btn btn-warning">delete</a> {% endcomment %}

         <form action="{% url 'deletedata' i.id %}" method ="post" class="d-inline">
         {% csrf_token %}
         <input type="submit" value="Delete" class="btn btn-danger">

         </form>
      </td>
      
    </tr>

{% endfor %}
  </tbody>
</table>
      
</div>

</body>
</html>